h3 {
    text-align: center;
}

body {
    background: linear-gradient(90deg, #e4efe9  0%, #93a5cf 100%);
}
#output p, #favorites-output p {
    display: inline-block;
    width: 20%;
}

section {
    margin: 5px 0;
}

